<% if @order.line_items.size>0 %>
  <% @order.line_items.each do |line_item| %>
    <p><b>Title: </b><%= line_item.product.name %></p>
    <p><b>Price: </b><%= line_item.product.price %></p>
  <% end %><br><br>
<% end %>
