<p id="notice"><%= notice %></p>

<div class="form-group col-md-4">

<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>
</div>
<p>
  <strong>Price:</strong>
  <%= @line_item.price %>
</p>

|
<%= link_to 'Back', product_line_items_path %>
